<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="../styles2.css">
	<title>Мой сайт</title>
</head>
<body>
	<div id="a">
		<div id="t">
			<img id="s" src="../IMG/cls.jpg" width=80px alt="">
			<img id="d" src="../IMG/cls1.jpg" width=80px alt="">
			<img id="f" src="../IMG/cls2.jpg" width=80px alt="">
		</div>

	<div id="m">
			<img id="q" src="../IMG/cls.jpg" width=80px alt="">
			<img id="c" src="../IMG/cls1.jpg" width=80px alt="">
			<img id="b" src="../IMG/cls2.jpg" width=80px alt="">
	</div>

		</body>
	</html>

