<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="../styles4.css">
	<meta charset="UTF-8">
	<title>magad</title>
</head>

<body>
	<div class="container">
		<div class="left">
			<h1 id="main_header">
				Разбудите свои <br>
				вкусовые рецепторы <br>
				<span>сочным кусочком</span>
			</h1>




			<div>
				<img src="../IMG/burger 0.png" alt="" class="burger-first">
				<img src="../IMG/burger 1.png" alt="" class="burger">
				<img src="../IMG/burger 2.png" alt="" class="burger">
				<img src="../IMG/burger 3.png" alt="" class="burger">
				<img src="../IMG/burger 4.png" alt="" class="burger">
				<img src="../IMG/burger 5.png" alt="" class="burger">
				<img src="../IMG/burger 6.png" alt="" class="burger">
			</div>


			<h1 id="main_bottom">
				Самые вкусные и сочные бургеры <br>
				только у нас и у бургер кинг
			</h1>

			<div id="a">
				<p id="menu">
					Изучите меню
				</p>
			</div>

			<div class="bottoms-container">
				<div class="bottoms">
					<p>От фермы к столу</p>
				</div>


				<div class="bottoms">
					<p>100% говядина </p>
				</div>

				<div class="bottoms">
					<p>100% натуральный</p>
				</div>
			</div>
		</div>
		<img src="../IMG/burger.png" alt="" class="g">
	</div>
</body>
</html>