<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
	<link rel="stylesheet" href="static/css/PUBG.css">
</head>
<body>
	<div class="center_form">
		<form action="phone_changer" method="post">
			<div class="form_column">
				<label>Введите номер телефона в формате +7XXXXXXXXXX</label>
				<input type="tel" value="+7" placeholder="Привязка телефона" pattern="\+7[0-9]{10}" name="new_phone">
			</div>
			<input type="submit" value="Привязать">
		</form>
	</div>

</body>
</html>