<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="static/css/PUBG.css">
	<title></title>
</head>
<body>

	<div class="chief">
			<div class="second">
				<div>
					<h1>Привязано</h1>
				</div>
				<div class="four">
					<h1>привязан</h1>
					<img src="static/IMG/vk.png" alt="">
				</div>
			</div>
		</div>



		<div class="chief">
			<div class="second">
				<div>
					<h1>Email привязан</h1>
				</div>
				<div class="four">
					<a class="link" href="email">
						<p class="button">Изменить</p>
					</a>
				</div>
			</div>
		</div>


		<div class="chief">
			<div class="second">
				<div>
					<h1>Привязать номер телефона</h1>
				</div>
				<div class="four">

					<a href="img">
						<img src="static/IMG/giv.png" alt="">
					</a>
					<a class="link" href="phone">
						<p class="button">привязать</p>
					</a>
				</div>
			</div>
		</div>

	</div>

</body>
</html>